.outputRequestMenuItem {
    display: grid;
    grid-template-columns: 60px 100px;
    cursor: pointer;
}
.outputRequestActiveMenuItem {
    display: grid;
    grid-template-columns: 60px 100px;
    cursor: pointer;
    background-color: rgba(0, 125, 215, 0.3);
    border-radius: 5px;
}

.textInMenu {
    padding-top:8px
}
.iconMenu {
    width: 30px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:10px;
}

.commonClassForMenu {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}