.outputRequestMenuItem {
    display: grid;
    grid-template-columns: 60px 100px;
    padding: 20px;
    margin: 20px;
}
.textInMenu {
    padding-top:8px
}
.iconMenu {
    width: 30px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:10px;
}

.MenuClass {
    margin: 0px;
}