
.activeFilterButtons {
    background-color: #6266eb;
    color: white;
    max-width: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.passiveFilterButtons {
    background-color: #dee1e5;
    color: #7f8a9b;
    max-width: max-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.outputRequestsFilterButtons {
    display: grid;
    grid-template-columns: 160px 155px 150px 120px 1fr;
}