.singleOutputRequest {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1.6fr 2.3fr 1.8fr 0.7fr;

    grid-template-rows: 65px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;


}

.outputRequestsHeadersCommon {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1.6fr 2.3fr 1.8fr 0.7fr;

    grid-template-rows: 40px;
    padding-top: 10px;
    padding-left: 40px;
    color: #7f8a9b;

}


.sortImgStyle {
    width: 30px;
    height: 15px;
    display: inherit;
    padding-left: 5px;
    cursor: pointer;

}

.responcesImgStyle {
    width: 140px;
    cursor: pointer;
    margin-left: inherit;
}

.fontFormating {
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
}

.outReqMenu {
    padding-top: 15px;
    cursor: pointer;
}

.outRecActiveHeader {
    color: #6266eb;
    cursor: pointer;
}

.outRecInactiveHeader {
    cursor: pointer;

}
