@import "../../assets/colors";
@import "../../assets/constants";


.container {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: $TABLET_WIDTH) {
  .mainDiv {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.preloader {
  width: 50px;
}
