.loginCommon {
    border-color: #cfd3da;
/*    border-width: 2px;
    outline: #1F1AB2;*/

}


.loginForm {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.legendStyle {
    font-size: 20px;
    font-weight: bold;
}

.fieldSetStyle {
    padding: 10px;
}

form {
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 0px;
}

.imgSearch {
    padding-left: 10px;
    width: 40px;
}