.app_wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
            'm h '
            'm с ';
    grid-template-rows: 60px 1fr; /*header "h" и все остальное*/
    grid-template-columns: 200px 1fr; /*распределение колокнок между полем меню слева "m" и контентом "c"*/
}

.app_wrapper_menu_left {
    background-color: #00D077;
    grid-area: m;
    position: relative;
    z-index:1;
}
.app_wrapper_header {
    background-color: #58FFB8;
    grid-area: h;
    position: relative;
    z-index:1;
}
.app_wrapper_content {
    background-color: #E1E6F9;
    grid-area: с;
    position: relative;
    z-index:1;
}