.textAreaError {
    border: solid red 2px;
    width: 100%;
}

.textArea {
    width: 100%;
}

.textError {
    color: red;
}

.commonError {
    color: red;
}

.Input {
    width: 100%;
}

.InputError {
    border: solid red 2px;
    width: 100%;

}




















