.textAreaError {
    border: solid red 2px;
    width: 100%;
}

.textArea {
    width: 100%;
}

.textError {
    color: red;
}

.commonError {
    color: red;
}

.Input {
    width: 100%;
    outline:none;
    border-width: 0px; /*спрятать внешнюю рамку Input*/
}

.InputError {
    border: solid red 2px;
    width: 100%;

}




















